@font-face {
    font-family: "Oswald";
    src: url("Oswald-Regular.ttf") format("opentype");   
    font-weight: 400;
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
    }
    @font-face {
    font-family: "Oswald";
    src: url("Oswald-Light.ttf") format("opentype");   
    font-weight: 300;
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
    }
html body{
	/*background-image: url(img/bg1.jpg);*/
	background-image: url(img/bg1.jpg);
	background-size: cover;
	background-position: center;
    font-family: "Oswald";

}
.flex {
	display: flex;
	display: -webkit-flex;
}
body .ui-overlay-a, body .ui-page-theme-a, body .ui-page-theme-a .ui-panel-wrapper{
	text-shadow: none;
}
body .ui-content {
	padding: 0;
	overflow-x: unset;
}
.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {
    font-family: "Oswald" !important;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}



button {
	border: none;
	background: unset;
	padding: 0;
	margin: 0;
}
video {
	width: 100%;
}
.ui-page {
	background-color: rgba(30,30,30,0.5);
}
.ui-page .ui-body-a {
	background-color: rgba(20,20,20,0);
	position: relative;

	box-sizing: border-box;
	padding: 0;
	text-shadow: none;
	color: #eee;
	position: relative;

}
a, html .head a.ui-link, .main_nav li a, html body .ui-body-a a, html body .ui-body-a a:visited {
	color: #eee;
	text-decoration: none;
	font-weight: 400;
	
}

.ui-content {
	max-height: 90vh;
}


.button_main {

}

body .ui-overlay-a, body .ui-page-theme-a, body .ui-page-theme-a .ui-panel-wrapper{
	background-color: rgba(30,30,30,0.7);
	color: #fff;
}

/* HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD HEAD */


.head {
	height: 7vh;
	background-color: rgba(50,50,50,0.7);
	box-sizing: border-box;
	padding: 0 15px;
	align-items: center;
	-webkit-align-items: center;
}
.home_link div {
	width: 6vh;
	height: 6vh;
	background-image: url(img/home.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.back_btn {
	margin-right: auto;
}
.home_link {
	margin-left: auto;
}
.login_link{
	margin-left: 15px;
}

.profile_link {
	width: 6vh;
	height: 6vh;
	background-image: url(img/user.svg);
	background-size: 70%;
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
	margin-left: 10px;
}
.user_stuff {
	z-index: 1000;
	position: fixed;
	left: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 7vh;
	height: 93vh;
	color: #eee;
}


/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */

.main_nav {
	display: flex;
	flex-direction: column;
	height: 90vh;
	position: relative;
}
.main_nav li {
	height: calc(100% / 7);
	line-height: calc(100vh / 7);
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;

}
.main_nav li:nth-child(even){
	background-color: rgba(20,20,20,0.5);
}
.main_nav li:nth-child(odd){
	background-color: rgba(70,70,70,0.5);

}
#ideas {
	background-color: rgba(0,0,0,0);
}

/*exercises*/

.header {
	text-transform: uppercase;
}
 .zone{
 	
 	height: 10vh;


 }
 .zone .zn {
 	background-size:auto 60%;
 	background-position: center 30%;
 	background-repeat: no-repeat;
 	width: 20%;
 	height: 100%;
 	position: relative;
 }
 #solo_e .zone .zn{
 	width: 25%;

 }
 .zn span {
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	width: 100%;
 	text-align: center;
 	font-size: 0.8em;
 }
 .zone .zn.active {
 	background-color: #f6f6f6;
 	color: #e5322f


 }
 .lower {
 	background-image: url(img/lower.png);
 }

.upper {
 	background-image: url(img/upper.png);
 }
 .core {
 	background-image: url(img/core.png);
 }
 .all {
 	background-image: url(img/all.png);
 }
 .hybrid {
 	background-image: url(img/hybrid.png);
 }
 .level {
 	width: 100%;
 }
 .level .lvl{
 	width: 50%;
 	height: 7vh;
 	max-height: 50px;
 	text-align: center;
 	align-items: center;
 	-webkit-align-items: center;
 }

 .level .lvl.active {
 	background-color: #f6f6f6;
 	color: #e5322f
 }
 .level .lvl h2 {
  	margin: 0;
  	width: 100%;
  	font-size: 15px;
  	font-weight: 400;
  }
  .posts {
  	height: 76vh;
  	overflow: scroll;
  }
  .post{
  	position: relative;
 	border-top: solid 1px rgba(100,100,100,0.7);

  }
  .post .icon {
  	width: 35vw;
  	height: 20vw; /* js var post_height refers to this*/
  	background-size: contain;
  }
  .post .info {
  	height: 20vw; /* js var post_height refers to this*/
  	align-items: center;
  	-webkit-align-items: center;
  }
  .post:last-child{
  	margin-bottom: calc(76vh - 20vw)
  }
  #posts .post:first-child{
  	/*margin-top: 38vh*/
  }
  .post h2 {
  	font-size: 0.8em;
  	font-weight: 400;
  	text-transform: uppercase;
 	opacity: 0.85;
 	box-sizing: border-box;
 	padding: 0 0 0 6vw;
  }
  .post .favorite {
  	width: calc(20px + 0.5vw);
  	height: calc(20px + 0.5vw);
  	/*background-image: url(img/favorite.png);*/
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
  }
.post .fav_add {
	background-image: url(img/favorite.png);
}
.post .fav_rem {
	background-image: url(img/favorite_a.png);
}

/*REGISTRATION REGISTRATION REGISTRATION REGISTRATION */
.input_wrap .flex {
	align-items: baseline;
	justify-content: space-between;
	-webkit-align-items: baseline;
	-webkit-justify-content: space-between;
}
.input_wrap .error {

	margin: 0;
	font-size: 12px;
}
.input_wrap .flex {
	margin: 4vw 0 0 0;
}
 body .flex label {
 	margin: 0;
 }






/*FIXES */

body .ui-mobile label, body .ui-controlgroup-label{
	margin: 0;
}
